version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: elevador-app
    working_dir: /app
    volumes:
      - .:/app
    tty: true
    stdin_open: true
